<!DOCTYPE html>
<html>
<head>
  <title>RSVP Form</title>
</head>
<body>

<h2>RSVP - 2026 Milfoil Strategy Outline meeting</h2>

<form action="mailto:mbcroteau@gmail.com" method="POST" enctype="text/plain">
  
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="Name" required><br><br>

  <label for="email">Email:</label><br>
  <input type="email" id="email" name="Email" required><br><br>

  <label for="attending">Will you attend?</label><br>
  <select id="attending" name="Attending">
    <option value="Yes">Yes, I can attend</option>
    <option value="No">No, I cannot attend but please keep me informed</option>
  </select><br><br>

  <!--
  <label for="guests">Number of Guests:</label><br>
  <input type="number" id="guests" name="Guests" min="0"><br><br>
-->
  
  <label for="message">Message:</label><br>
  <textarea id="message" name="Message"></textarea><br><br>

  <input type="submit" value="Send RSVP">

</form>

</body>
</html>
