<!DOCTYPE html>
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <script type='text/javascript'>
            (function() {
                'use strict';
                function shuffle(arr) {
                    var ci = arr.length, tv, ri;
                    while (0 !== ci) {
                        ri = Math.floor(Math.random() * ci);
                        ci -= 1;
                        tv = arr[ci];
                        arr[ci] = arr[ri];
                        arr[ri] = tv;
                    }
                    return arr;
                }


             <a href="/en/index.html">English</a>
<a href="/fr/index.html">Français</a>

<button onclick="setLang('en')">English</button>
<button onclick="setLang('fr')">Français</button>

<p id="greeting"></p>
